body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(23, 0, 44);
    color: azure;
    font-family: garamond;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
    background-color: rgb(23, 0, 44);
    color: azure;
}

.light {
    background-color: azure;
    color: rgb(54, 0, 105);
}

#a_btw,
#b_btw,
#e_btw {
    height: 2rem;
    width: 5rem;
    background-color: cyan;
    border-radius: 5px;
}

#c_btw {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("assets/dragon.png");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0;
}

#c_btw:active {
    transform: scale(0.75);
}

#hide {
    background-color: azure;
    color: black;
    border-radius: 3px;
    visibility: hidden;
    text-align: center;
    width: 60%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.light #hide {
    background-color: rgb(23, 0, 44);
    color: azure;
}

#btw,
#con {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    border: 2px solid black;
    border-radius: 3px;
    background-color: cornflowerblue;
    height: 5rem;
    width: 10rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#obj {
    margin: 1%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.obj_box {
    height: 90%;
    width: 90%;
    background-color: azure;
    border-radius: 3px;
}