body {
    background-color: rgb(23, 0, 44);
    color: azure;
    font-family: garamond;
}

#a_btw {
    height: 2rem;
    width: 5rem;
    background-color: cyan;
    border-radius: 5px;
}
#b_btw {
    height: 2rem;
    width: 5rem;
    background-color: cyan;
    border-radius: 5px;
}
#hide{
    visibility: hidden;
}

#btw {
    display: flex;
    align-items:center;
    justify-content: space-around;
}