body {
    background-color: rgb(23, 0, 44);
    color: azure;
    font-family: garamond;
    text-align: center;
}

#a_btw {
    height: 2rem;
    width: 5rem;
    background-color: cyan;
    border-radius: 5px;
}

#b_btw {
    height: 2rem;
    width: 5rem;
    background-color: cyan;
    border-radius: 5px;
}

#hide {
    background-color: azure;
    color: black;
    border-radius: 3px;
    visibility: hidden;
    text-align: center;
    width: 60%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#btw {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#con {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.box{
    border: 2px solid black;
    border-radius: 3px;
    background-color: cornflowerblue;
    height: 5rem;
    width: 10rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}