body{
    background-color:#86469C;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#con{
    margin-top: 5%;
    background-color: #BC7FCD;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#box{
    background-color: #FFCDEA;
    height: 350px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.sbox{
    background-color: #FB9AD1;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 0;
}