body{
    background-color:#86469C;
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

#header{
    background-color: #BC7FCD;
    display: flex;
    justify-content: center;
}
#con{
    margin: 5px auto;
    background-color: #BC7FCD;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#box{
    background-color: #FFCDEA;
    height: 370px;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 5px;
}
.sbox{
    background-color: #FB9AD1;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 0;
}